/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: DefaultTable;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #0e978f;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #0e978f;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #0e978f;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #0e978f;
	max-id: 4;
	cell-padding-left: 7px;
	cell-padding-right: 7px;
	margin-bottom: 20px;
	margin-top: 20px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #0e978f;
	name: Column1;
	id: 0;
	cell-content-style-class: tableBody;
	cell-content-style-tag: p;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #0e978f;
	name: Header1;
	id: 2;
	background-color: #0e978f;
	cell-content-style-tag: p;
	cell-content-style-class: tableHeading;
	text-align: left;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #0e978f;
	name: Body1;
	id: 1;
	background-color: #f0f8ff;
	cell-content-style-tag: p;
	cell-content-style-class: tableBody;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body2;
	cell-content-style-tag: p;
	cell-content-style-class: tableBody;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #0e978f;
	vertical-align: top;
}


/* Cell Styles: */
 
.TableStyle-DefaultTable
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #0e978f;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #0e978f;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #0e978f;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #0e978f;
	border-bottom-width: 1px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-spacing: 0px 0px;
}

.TableStyle-DefaultTable-Column-Column1
{
	
}

.TableStyle-DefaultTable-Head-Header1
{
	
}

.TableStyle-DefaultTable-HeadI-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	text-align: left;
	background-color: #0e978f;
}

.TableStyle-DefaultTable-HeadI-Column1-Header1 p
{
	
}

.TableStyle-DefaultTable-HeadE-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	border-right-width: 1px;
	border-right-color: #0e978f;
	border-right-style: solid;
	text-align: left;
	background-color: #0e978f;
	border-bottom-width: 1px;
	border-bottom-color: #0e978f;
	border-bottom-style: solid;
}

.TableStyle-DefaultTable-HeadE-Column1-Header1 p
{
	
}

.TableStyle-DefaultTable-HeadF-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	text-align: left;
	background-color: #0e978f;
	border-bottom-width: 1px;
	border-bottom-color: #0e978f;
	border-bottom-style: solid;
}

.TableStyle-DefaultTable-HeadF-Column1-Header1 p
{
	
}

.TableStyle-DefaultTable-HeadH-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	border-right-width: 1px;
	border-right-color: #0e978f;
	border-right-style: solid;
	text-align: left;
	background-color: #0e978f;
}

.TableStyle-DefaultTable-HeadH-Column1-Header1 p
{
	
}

.TableStyle-DefaultTable-HeadD-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	text-align: left;
	background-color: #0e978f;
	border-bottom-width: 1px;
	border-bottom-color: #0e978f;
	border-bottom-style: solid;
}

.TableStyle-DefaultTable-HeadD-Column1-Header1 p
{
	
}

.TableStyle-DefaultTable-HeadC-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	text-align: left;
	background-color: #0e978f;
}

.TableStyle-DefaultTable-HeadC-Column1-Header1 p
{
	
}

.TableStyle-DefaultTable-HeadB-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	border-right-width: 1px;
	border-right-color: #0e978f;
	border-right-style: solid;
	text-align: left;
	background-color: #0e978f;
}

.TableStyle-DefaultTable-HeadB-Column1-Header1 p
{
	
}

.TableStyle-DefaultTable-HeadA-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	text-align: left;
	background-color: #0e978f;
}

.TableStyle-DefaultTable-HeadA-Column1-Header1 p
{
	
}

.TableStyle-DefaultTable-HeadG-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	text-align: left;
	background-color: #0e978f;
}

.TableStyle-DefaultTable-HeadG-Column1-Header1 p
{
	
}

.TableStyle-DefaultTable-FootI-Column1-
{
	padding-left: 7px;
	padding-right: 7px;
}

.TableStyle-DefaultTable-FootI-Column1- p
{
	
}

.TableStyle-DefaultTable-FootE-Column1-
{
	padding-left: 7px;
	padding-right: 7px;
	border-right-width: 1px;
	border-right-color: #0e978f;
	border-right-style: solid;
}

.TableStyle-DefaultTable-FootE-Column1- p
{
	
}

.TableStyle-DefaultTable-FootF-Column1-
{
	padding-left: 7px;
	padding-right: 7px;
}

.TableStyle-DefaultTable-FootF-Column1- p
{
	
}

.TableStyle-DefaultTable-FootH-Column1-
{
	padding-left: 7px;
	padding-right: 7px;
	border-right-width: 1px;
	border-right-color: #0e978f;
	border-right-style: solid;
}

.TableStyle-DefaultTable-FootH-Column1- p
{
	
}

.TableStyle-DefaultTable-FootD-Column1-
{
	padding-left: 7px;
	padding-right: 7px;
}

.TableStyle-DefaultTable-FootD-Column1- p
{
	
}

.TableStyle-DefaultTable-FootC-Column1-
{
	padding-left: 7px;
	padding-right: 7px;
}

.TableStyle-DefaultTable-FootC-Column1- p
{
	
}

.TableStyle-DefaultTable-FootB-Column1-
{
	padding-left: 7px;
	padding-right: 7px;
	border-right-width: 1px;
	border-right-color: #0e978f;
	border-right-style: solid;
}

.TableStyle-DefaultTable-FootB-Column1- p
{
	
}

.TableStyle-DefaultTable-FootA-Column1-
{
	padding-left: 7px;
	padding-right: 7px;
}

.TableStyle-DefaultTable-FootA-Column1- p
{
	
}

.TableStyle-DefaultTable-FootG-Column1-
{
	padding-left: 7px;
	padding-right: 7px;
}

.TableStyle-DefaultTable-FootG-Column1- p
{
	
}

.TableStyle-DefaultTable-Body-Body1
{
	
}

.TableStyle-DefaultTable-BodyI-Column1-Body1
{
	padding-left: 7px;
	padding-right: 7px;
	vertical-align: top;
	background-color: #f0f8ff;
}

.TableStyle-DefaultTable-BodyI-Column1-Body1 p
{
	
}

.TableStyle-DefaultTable-BodyE-Column1-Body1
{
	padding-left: 7px;
	padding-right: 7px;
	vertical-align: top;
	background-color: #f0f8ff;
	border-bottom-width: 1px;
	border-bottom-color: #0e978f;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #0e978f;
	border-right-style: solid;
}

.TableStyle-DefaultTable-BodyE-Column1-Body1 p
{
	
}

.TableStyle-DefaultTable-BodyF-Column1-Body1
{
	padding-left: 7px;
	padding-right: 7px;
	vertical-align: top;
	background-color: #f0f8ff;
	border-bottom-width: 1px;
	border-bottom-color: #0e978f;
	border-bottom-style: solid;
}

.TableStyle-DefaultTable-BodyF-Column1-Body1 p
{
	
}

.TableStyle-DefaultTable-BodyH-Column1-Body1
{
	padding-left: 7px;
	padding-right: 7px;
	vertical-align: top;
	background-color: #f0f8ff;
	border-right-width: 1px;
	border-right-color: #0e978f;
	border-right-style: solid;
}

.TableStyle-DefaultTable-BodyH-Column1-Body1 p
{
	
}

.TableStyle-DefaultTable-BodyD-Column1-Body1
{
	padding-left: 7px;
	padding-right: 7px;
	vertical-align: top;
	background-color: #f0f8ff;
	border-bottom-width: 1px;
	border-bottom-color: #0e978f;
	border-bottom-style: solid;
}

.TableStyle-DefaultTable-BodyD-Column1-Body1 p
{
	
}

.TableStyle-DefaultTable-BodyC-Column1-Body1
{
	padding-left: 7px;
	padding-right: 7px;
	vertical-align: top;
	background-color: #f0f8ff;
}

.TableStyle-DefaultTable-BodyC-Column1-Body1 p
{
	
}

.TableStyle-DefaultTable-BodyB-Column1-Body1
{
	padding-left: 7px;
	padding-right: 7px;
	vertical-align: top;
	background-color: #f0f8ff;
	border-right-width: 1px;
	border-right-color: #0e978f;
	border-right-style: solid;
}

.TableStyle-DefaultTable-BodyB-Column1-Body1 p
{
	
}

.TableStyle-DefaultTable-BodyA-Column1-Body1
{
	padding-left: 7px;
	padding-right: 7px;
	vertical-align: top;
	background-color: #f0f8ff;
}

.TableStyle-DefaultTable-BodyA-Column1-Body1 p
{
	
}

.TableStyle-DefaultTable-BodyG-Column1-Body1
{
	padding-left: 7px;
	padding-right: 7px;
	vertical-align: top;
	background-color: #f0f8ff;
}

.TableStyle-DefaultTable-BodyG-Column1-Body1 p
{
	
}

.TableStyle-DefaultTable-Body-Body2
{
	
}

.TableStyle-DefaultTable-BodyI-Column1-Body2
{
	padding-left: 7px;
	padding-right: 7px;
	vertical-align: top;
}

.TableStyle-DefaultTable-BodyI-Column1-Body2 p
{
	
}

.TableStyle-DefaultTable-BodyE-Column1-Body2
{
	padding-left: 7px;
	padding-right: 7px;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #0e978f;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #0e978f;
	border-right-style: solid;
}

.TableStyle-DefaultTable-BodyE-Column1-Body2 p
{
	
}

.TableStyle-DefaultTable-BodyF-Column1-Body2
{
	padding-left: 7px;
	padding-right: 7px;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #0e978f;
	border-bottom-style: solid;
}

.TableStyle-DefaultTable-BodyF-Column1-Body2 p
{
	
}

.TableStyle-DefaultTable-BodyH-Column1-Body2
{
	padding-left: 7px;
	padding-right: 7px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #0e978f;
	border-right-style: solid;
}

.TableStyle-DefaultTable-BodyH-Column1-Body2 p
{
	
}

.TableStyle-DefaultTable-BodyD-Column1-Body2
{
	padding-left: 7px;
	padding-right: 7px;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #0e978f;
	border-bottom-style: solid;
}

.TableStyle-DefaultTable-BodyD-Column1-Body2 p
{
	
}

.TableStyle-DefaultTable-BodyC-Column1-Body2
{
	padding-left: 7px;
	padding-right: 7px;
	vertical-align: top;
}

.TableStyle-DefaultTable-BodyC-Column1-Body2 p
{
	
}

.TableStyle-DefaultTable-BodyB-Column1-Body2
{
	padding-left: 7px;
	padding-right: 7px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #0e978f;
	border-right-style: solid;
}

.TableStyle-DefaultTable-BodyB-Column1-Body2 p
{
	
}

.TableStyle-DefaultTable-BodyA-Column1-Body2
{
	padding-left: 7px;
	padding-right: 7px;
	vertical-align: top;
}

.TableStyle-DefaultTable-BodyA-Column1-Body2 p
{
	
}

.TableStyle-DefaultTable-BodyG-Column1-Body2
{
	padding-left: 7px;
	padding-right: 7px;
	vertical-align: top;
}

.TableStyle-DefaultTable-BodyG-Column1-Body2 p
{
	
}


